@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    
}
nav {
    display: flex;
    gap: 35px;
    padding-left: 20px;
    
    
}
.botoes{
    display: flex;
    gap: 30px;
    padding-left: 300px;

}